{% extends '::base.html.twig' %}

{% block stylesheets %}
{{ parent() }}
{% endblock %}

{% block title %}Anonymous Gift{% endblock title %}
{% block description %}TP Symfony Anonymous Gift{% endblock description %}
{% block canonical %}{% endblock canonical %}

{% block body %}

  <h1>Ananymous Gift</h1>

  <a href="{{ path('fos_user_security_login') }}">
    <button type="button" class="btn btn-primary">Connexion</button>
  </a>

  <a href="{{ path('fos_user_registration_register') }}">
    <button type="button" class="btn btn-success">Créer un compte</button>
  </a>

{% endblock body %}

{% block javascripts %}
{{ parent() }}

{% endblock %}
